<div class="navigation-bar">

    <a routerLink="/">
        <img src="../../../../assets/image/homepage.png" alt="Homepage" class="nav-image">
    </a>
    <span class="separator">&gt;</span>
    <a class="nav-link">Customer Service</a>
    <span class="separator">&gt;</span>
    <a routerLink="/inspection" class="nav-link">Inspection Policy</a>

</div>
<head>
    <style>
        h2 { font-weight: bold; }
        p { margin-bottom: 20px; line-height: 1.5;}
        body { padding-left: 80px; margin-right: 100px;}
    </style>
</head>
<body>
    <h1>Inspection Policy</h1>
    <h3>Inspection upon Delivery</h3>
    <p>Upon delivery of your order, please inspect the products for any damage or defects. If you notice any issues, please inform the delivery personnel immediately and make note of the problem on the delivery receipt. We encourage you to inspect the products thoroughly before accepting them.</p>

    <h3>Return Policy</h3>
    <p>If you receive a damaged or defective product, please contact us within [number] days of delivery to arrange for a return or exchange. We may require photographic evidence of the damage or defect before processing your request. Please refer to our Returns and Refunds Policy for detailed information on the return process.</p>

    <h3>Product Inspection</h3>
    <p>We make every effort to ensure that our products are of the highest quality. However, if you believe that a product is faulty or not as described, please contact us as soon as possible. We may request that you return the product to us for inspection before issuing a refund or replacement.</p>

    <h3>Policy Updates</h3>
    <p>We reserve the right to update or modify our Terms and Conditions, including this Inspection and Policy section, at any time without prior notice. Please review this page periodically for changes. Your continued use of our website after any modifications indicates your acceptance of the updated Terms and Conditions.</p>

</body>
