<div class="giuseart-nav">
    <ul>
        <li><a href="https://www.facebook.com/profile.php?id=61558401800271" rel="nofollow" target="_blank"><i class="ticon-heart"></i>Facebook</a></li>
        <li><a href="https://www.tiktok.com/@plantique.shop?_t=8mHzqngOHdQ&_r=1" rel="nofollow" target="_blank"><i class="ticon-zalo-circle2"></i>Tiktok</a></li>
                    <li class="phone-mobile">
                        <a href="tel:113" rel="nofollow" class="button">
                            <span class="phone_animation animation-shadow">
                                <i class="icon-phone-w" aria-hidden="true"></i>
                            </span>
                            <span class="btn_phone_txt">Call</span>
                        </a>
                    </li>
                    <li><a href="https://www.facebook.com/messages/t/260644317137922/" rel="nofollow" target="_blank"><i class="ticon-messenger"></i>Messenger</a></li>
        <li><a href="sms:0972939830" class="chat_animation">
        <i class="ticon-chat-sms" aria-hidden="true" title="Nhắn tin sms"></i>
            SMS</a>
        </li>
        <li class="to-top-pc">
            <a href="#" rel="nofollow" (click)="scrollToTop($event)">
                <i class="ticon-angle-up" aria-hidden="true" title="scroll to top"></i>
              </a>
        </li>
    </ul>
</div>
