<div class="navigation-bar">
    <a routerLink="/homepage">
        <img src="../../../../assets/image/homepage.jpg" alt="Homepage" class="nav-image">
    </a>
    <span class="separator">&gt;</span>
    <a routerLink="/admin-contact" class="nav-link">Contact</a> 
    <span class="separator">&gt;</span>
    <a routerLink="/admin-contact-details" class="nav-link">Contact Details</a>
  </div>
<div class="container">
    <h2>Contact Details</h2>
    <div *ngIf="contact" class="contact-details columns">
        <fieldset>
            <legend>Contact Information</legend>
            <div>
                <label>Contact ID:</label>
                <span>{{ contact._id }}</span>
            </div>
            <div>
                <label>Name:</label>
                <span>{{ contact.name }}</span>
            </div>
            <div>
                <label>Email:</label>
                <span>{{ contact.email }}</span>
            </div>
            <div>
                <label>Phone:</label>
                <span>{{ contact.phone }}</span>
            </div>
        </fieldset>
        <fieldset>
            <legend>Message</legend>
            <div>
                <label>Content</label>
                <span>{{ contact.message }}</span>
            </div>
            <div>
                <label>Date Sent:</label>
                <span>{{ formatDateString(contact.sentDate) }}</span>
            </div>
            <div>
                <label>Date Responsed:</label>
                <span>{{ formatDateString(contact.responseDate) }}</span>
            </div>
            <div>
                <label>Status:</label>
                <span>{{ contact.status }}</span>
            </div>
        </fieldset>
        <button (click)="markAsResponsed()">Mark as Responsed</button>
    </div>
</div>
