<head>
    <style>
        h2 { font-weight: bold; }
        p { margin-bottom: 20px; line-height: 1.5;}
        body { padding-left: 80px; margin-right: 100px;}
    </style>
</head>
<div class="navigation-bar">

    <a routerLink="/">
        <img src="../../../../assets/image/homepage.png" alt="Homepage" class="nav-image">
    </a>
    <span class="separator">&gt;</span>
    <a class="nav-link">Customer Service</a> 
    <span class="separator">&gt;</span>
    <a routerLink="/chinh-sach-van-chuyen" class="nav-link">Shipping Policy</a>

</div>
<body>
    <h1>Shipping Policy</h1>
    <h3>1. Shipping Fees</h3>
    <p>
    – For orders, a shipping fee of 30,000 VND applies.</p>
    <h3>2. Shopping Guide on Facebook/Instagram</h3>
    <p>
        – Items will be delivered to you as soon as possible after the order is successfully placed, depending on the receiving area or objective circumstances (such as epidemics, weather, floods). <br>
– Delivery time does not include Saturdays, Sundays, or holidays.
    </p>

    <h3>3. Checking Order Status</h3>
    <p>
        To check information or the status of your order, please use the ORDER CODE sent in the confirmation email upon logging in to the website / or the PHONE NUMBER used for ordering to notify the Customer Care department (hotline 0938152400).
    </p>

    <h3>4. Can I inspect the product before payment upon delivery?</h3>
    <p>
        – You can completely open the package and inspect the product <b>before</b> payment or <b>before</b> it is shipped.<br>
– In case you encounter any issues, please contact us immediately at 0938152400 for timely support.
    </p>

</body>
