/* admin-layout.component.css */

/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.admin-container {
    display: flex;
    height: 100%;
}


.admin-content {
    flex-grow: 1;
    overflow-x: hidden; /* Ẩn thanh trượt ngang nếu có */
}

.main-section {
    flex: 1; /* Main section chiếm phần còn lại của admin-content */
    padding: 20px; /* Padding để tạo khoảng cách với các phần tử khác */
    overflow-y: auto; /* Cho phép scroll nếu nội dung quá dài */
  }

.admin-header, .admin-content {
    transition: margin-left 0.5s ease; /* Thêm hiệu ứng khi mở/rút gọn sidebar */
}

.sidebar.close ~ .admin-content {
    margin-left: 80px; /* Khoảng cách giữa sidebar và nội dung */
}
