
<div class="container">
    <div class="avatar-container">
        <div class="avatar-brief-info" *ngIf="user !== null">
            <label for="avatarInput" class="avatar-label">
                <img class="rounded-circle mt-5" [src]="user.profilePicture || 'assets/image/author.jpg'" alt="Avatar">
                <div class="camera-icon">
                    <i class="fas fa-camera"></i>
                </div>
                <input type="file" id="avatarInput" (change)="onFileSelected($event)" accept="image/*" >
                <span class="text-black-50">{{ avatarForm.value.avatarInput?.name || 'No file selected' }}</span>
            </label>
            <div class="user-infor-brief">
                <span style = "color: #00B207; font-weight: 600; font-size:20px; margin-top:20px;">{{ user.name }}</span>
                <span class="text-black-50" style = "margin-bottom: 20px;">{{ user.email }}</span>
                <form (ngSubmit)="uploadAvatar()" enctype="multipart/form-data" #avatarForm="ngForm">
                    <div><button class="submit-button" type="submit">Upload Avatar</button></div>
                </form>
            </div>
        </div>
    </div>
    <div class="profile-setting">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Profile Settings</h2>
        </div>
        <form (ngSubmit)="updateUser()" class="profile-form">
            <div class="form-group">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control" id="fullName" placeholder="Full Name" [(ngModel)]="user.name" name="name">
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number" [(ngModel)]="user.phoneNumber" name="phoneNumber">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Address" [(ngModel)]="user.address" name="address">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="user.email" name="email">
            </div>
            <div class="text-center">
                <button class="profile-button" type="submit">Save Profile</button>
                <button class="profile-button" type="button" routerLink ="/forget-password">Change Password</button>
            </div>
        </form>
    </div>
</div>
