<div class="navigation-bar">
  <a routerLink="/">
    <img src="../../../../assets/image/homepage.png" alt="Homepage" class="nav-image">
</a>
<span class="separator">&gt;</span>
  <a routerLink="/about-us" class="nav-link">About us</a>
</div>
<h4 class ="title">ABOUT PLANTIQUE</h4>
<hr style="margin-top: 20px; border: none; border-top: 1px solid #ccc; width: 100%;"> 
<div class="about-grid">
  <div class="col">
    <img src="../../../../assets/image/bannerAbout2.svg">
  </div>

  <div class="colleft">
    <h2 >100% Organic</h2>
    <p >Plantique was born with the desire to bring clean, 100% natural foods, no colors, no preservatives, 
      no additives with the best nutritional quality produced directly in traditional craft villages across the world and country to customer. 
      We wish to become a powerful arm supporting customers in health care, fitness, beauty and weight control. 
      We listen and understand health wishes, thereby providing the best choice for customers in their daily healthy, clean eating life.</p>
  </div>

  <div class="col">
    <h2>The Best Quality</h2>
    <p class="right">With the motto "Eat clean - Live healthy",
      Plantique respectfully brings customers the best quality eat clean foods with 100% natural ingredients 
      that are safe for all users.</p>
    <img  src="../../../../assets/image/terms.svg">
  </div>
  
  <div class="col">
    <img  src="../../../../assets/image/bannerAbout1.svg">
  </div>

  <div class="col">
    <img src="../../../../assets/image/bannerAbout3.svg">
  </div>

  <div class="col">
    <h2 class="left">You Order, We deliver</h2>
    <img class="leftimg" src="../../../../assets/image/shipping.svg">
  </div>
</div>