<div class="navigation-bar">
  <a routerLink="/">
    <img src="../../../../assets/image/homepage.png" alt="Homepage" class="nav-image">
  </a>
  <span class="separator">&gt;</span>
  <a class="nav-link">Customer Service</a> 
  <span class="separator">&gt;</span>
  <a routerLink="/contact" class="nav-link">Contact</a>
</div>

<!-- contact-form.component.html -->
<div class="contact-container">
    <div class="info-card">
      <i class="fas fa-map-location"></i>
      <div class="info-item">
       <h4>Address:</h4><br>
        <p>Thu Duc</p>
      </div>
      <span class="horizontal"></span>
      <i class="fas fa-envelope"></i>
      <div class="info-item">
        <h4>Email:</h4>
        <p>plantiqueshop01gmail.com</p>
      </div>
      <span class="horizontal"></span>
      <i class="fas fa-phone"></i>
      <div class="info-item">
        <h4>Phone number:</h4>
        <p>(028)38018283</p>
      </div>
    </div>
  
    <div class="form-card">
      <h2>Send us your information</h2>
      <p style="color:gray">Contact us now for inquiries and to receive many attractive offers for you!</p>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
        <div class="form-group">
          <input 
            type="text" 
            formControlName="name" 
            class="form-control" 
            placeholder="Full name" 
            required 
          />
        </div>
        <table>
            <tr>
                <th>
        <div class="form-group">
          <input 
            type="tel" 
            formControlName="phone" 
            class="form-control" 
            placeholder="Phone number" 
            required 
          />
        </div></th><th>
        <div class="form-group">
          <input 
            type="email" 
            formControlName="email" 
            class="form-control" 
            placeholder="Email" 
            required 
          />
        </div></th></tr>
    </table>
        <div class="form-group">
          <textarea 
            formControlName="message" 
            class="form-control" 
            placeholder="Your Message" 
            rows="4" 
            required
          ></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" >Send</button>
        </div>
      </form>
    </div>
  </div>
  <div class="map">
    <h2>Where You Can Find Us</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.224728134089!2d106.77569021023758!3d10.870504789239385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175277dbf11a271%3A0x4567e34b99494e3f!2sVietnam%20National%20University%20HCM%2C%20University%20of%20Economics%20and%20Law!5e0!3m2!1sen!2s!4v1715677285357!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  