/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: #FFFFFF;
    transition: var(--trans-02);
}

.container {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    display: flex;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main-section {
    background-color: #fbfbfc;
    flex-grow: 1;
    padding: 20px;
}

/* Header styles */
.admin-header {
    height: 42px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Title styles */
.title-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main-section h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #333843;
}

.main-section .nav {
    font-weight: 500;
    font-size: 14px;
    color: #2B572E;
    gap: 8px;
    align-items: center;
}

/* Button styles */
.delete,
.add {
    width: 140px;
    height: 40px;
    background: #F0F1F3;
    display: inline-block;
    margin-left: 12px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.005em;
    color: #1A1A1A;
    border: 0px;
    cursor: pointer;
}

.add {
    background: #2C742F;
    color: #FFFFFF;
}

.delete:active,
.add:active {
    transform: translateY(2px);
}

/* Filter styles */
.buttonfilterframe {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: 40px;
    margin-top: 50px;
}

.filterframe {
    border: 1px solid #E0E2E7;
    border-radius: 8px;
}

.buttonfilter button {
    padding: 6px 12px;
    gap: 8px;
    width: 200px;
    height: 32px;
    background: #ffffff;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.005em;
    color: #667085;
    border: 0px;
    cursor: pointer;
}
.buttonfilter button:visited {
    background: #2C742F;
    color: #FFFFFF;
}
.buttonfilter button.active {
    background-color: #2C742F;
    color: #ffffff;
}
.buttonfilter button:active {
    background: #2C742F;
    color: #FFFFFF;
    transform: translateY(1px);
}
.buttonfilter button:focus {
    outline: none; 
    background: #2C742F;
    color: #FFFFFF;
}

/* Search styles */
.search {
    display: flex;
    align-items: center;
    padding: 2px 12px;
    gap: 4px;
    width: 320px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #E0E2E7;
    border-radius: 8px;
}

.search input {
    border: 0px solid #E0E2E7;
    width: 300px;
    height: 32px;
}
.search input:focus {
    outline: none; /* Xóa viền khi ô input được focus */
}

/* Table styles */
.maintable {
    overflow: hidden;
    border-radius: 8px;
}

.maintable table {
    margin-top: 24px;
    width: 100%;
    border: 1px solid #F0F1F3;
    border-collapse: collapse;
}

.maintable thead {
    font-size: 14px;
    color: #333843;
    background-color: #eff1f5;
    height: 56px;
    text-align: center;
}

.maintable tbody {
    font-weight: 300;
    line-height: 10px;
    color: #667085;
    text-align: center;
    background-color: white;
}
.maintable th input[type=checkbox],
.maintable td input[type=checkbox] {
    margin-left: 8px; /* Khoảng cách từ lề trái của ô */
    padding-left: 10px; /* Khoảng cách từ ô checkbox đến nội dung bên trong */
    vertical-align: middle; /* Căn giữa theo chiều dọc */
}
.maintable tbody tr {
    border-bottom: 1px solid #E0E2E7; /* Đường kẻ ngang giữa các hàng */
}

.maintable tbody td {
    padding: 12px 0; /* Khoảng cách giữa nội dung và mép của ô */
    font-size: 14px; /* Kích thước chữ cho nội dung */
}

.status {
    padding: 5px;
    border-radius: 4px;
  }
  
  .expired {
    color: red;
    background-color: rgb(244, 182, 182);
  }
  
  .on-promotion {
    color: green;
    background-color: rgb(209, 235, 209);
  }
/* Navigation styles */
.navigation {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation span {
    font-size: 14px;
    color: #667085;
}

.navigation input[type="button"] {
    width: 32px;
    height: 32px;
    background: #B4CCB4;
    border-radius: 8px;
    border: 0px;
    cursor: pointer;
}

.navigation input[type="button"]:active {
    color: #ffffff;
    background: #2C742F;
    transform: translateY(1px);
}

.navigation input[type="button"]:visited {
    color: #ffffff;
    background: #2C742F;
}

.navigation input[type="button"]:focus {
    outline: none;
    color: #ffffff;
    background: #2C742F;
}
/*pop up promotion*/
/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ mờ 50% */
    z-index: 9999; /* Đặt z-index cao hơn để overlay nằm trên tất cả các phần tử khác */
}
  /* Popup */
.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Đặt z-index cao hơn overlay để popup nằm trên overlay */
}

.popup .close-btn {
    background-color: #ccc;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.popup .close-btn:hover {
    background-color: #999;
}

   .popup button table {
      width: 100%;
  }

   .popup button td {
      vertical-align: middle;
      padding: 5px;
  }

   .popup button h3 {
      margin: 0;
  }

  .popup button p {
      margin: 0;
      font-size: 0.8em;
      color: #666;
  }
 .popup .close-btn {
      background-color: #c4c3c3; 
      color: #000000; 
      border: none; 
      border-radius: 5px; 
      padding: 10px 20px; 
      font-size: 16px; 
      cursor: pointer; 
      width: fit-content;
  }
 .popup .close-btn:hover {
      background-color: rgb(137, 135, 135); 
  }
  .modal {
    align-items: center;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    z-index: 10000; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

.modal-dialog {
    position: relative;
    margin: 30px auto;
    width: 80%;
    max-width: 600px;
    background: #fff;
    border-radius: 5px;
}

.modal-content {
    padding: 20px;
}

.modal-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding-bottom: 20px;
}

.modal-footer {
    padding-top: 10px;
    border-top: 1px solid #ccc;
    text-align: right;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}



/* Adjustments for the form elements */
.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


  .navigation-bar {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #333;
    margin-right: 5px;
}

.nav-link:hover {
    color: #00B207;
}

.nav-image {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.separator {
    margin-right: 5px;
}

.btn-primary {
    display: block; /* Đảm bảo nút chiếm đầy đủ chiều rộng của phần tử cha */
    width: fit-content; /* Chiều rộng của nút sẽ phụ thuộc vào nội dung */
    margin: 0 auto; /* Căn giữa nút theo chiều ngang */
    background-color: #2C742F !important; /* Màu nền */
    color: #ffffff; /* Màu chữ */
    border: none; /* Xóa đường viền */
    border-radius: 5px; /* Bo góc */
    padding: 10px 20px; /* Độ lớn của padding */
    cursor: pointer; /* Hiển thị icon con trỏ khi di chuột qua */
    font-size: 14px; /* Kích thước chữ */
    font-weight: 600; /* Độ đậm của chữ */
}
.edit {
    /* Đảm bảo nút chiếm đầy đủ chiều rộng của phần tử cha */
    width: fit-content; /* Chiều rộng của nút sẽ phụ thuộc vào nội dung */
    background-color: orange !important; /* Màu nền */ /* Màu chữ */
    border: none; /* Xóa đường viền */
    border-radius: 5px; /* Bo góc */
    padding: 10px 20px; /* Độ lớn của padding */
    cursor: pointer; /* Hiển thị icon con trỏ khi di chuột qua */
    font-size: 14px; /* Kích thước chữ */
    font-weight: 600; /* Độ đậm của chữ */
}
.delete {
    /* Đảm bảo nút chiếm đầy đủ chiều rộng của phần tử cha */
    width: fit-content; /* Chiều rộng của nút sẽ phụ thuộc vào nội dung */
    background-color: red !important; /* Màu nền */ /* Màu chữ */
    border: none; /* Xóa đường viền */
    border-radius: 5px; /* Bo góc */
    padding: 10px 20px; /* Độ lớn của padding */
    cursor: pointer; /* Hiển thị icon con trỏ khi di chuột qua */
    font-size: 14px; /* Kích thước chữ */
    font-weight: 600; /* Độ đậm của chữ */
}

