/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: #FFFFFF;
    transition: var(--trans-02);
}

.container {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    display: flex;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main-section {
    background-color: #fbfbfc;
    flex-grow: 1;
    padding: 20px;
}

/* Header styles */
.admin-header {
    height: 42px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Title styles */
.title-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main-section h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #333843;
}

/* Button styles */
button {
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
}

button:active {
    transform: translateY(2px);
}

.add {
    width: 140px;
    height: 40px;
    background: #2C742F;
    color: #FFFFFF;
    margin-left: 12px;
}

.delete {
    width: 140px;
    height: 40px;
    background: #F0F1F3;
    color: #1A1A1A;
}

.edit {
    background-color: orange;
}

.delete,
.add,
.edit {
    padding: 10px 20px;
    width: fit-content;
}

/* Filter styles */
.buttonfilterframe {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 40px;
    margin-top: 50px;
}

.filterframe {
    border: 1px solid #E0E2E7;
    border-radius: 8px;
}

.buttonfilter button {
    padding: 6px 12px;
    width: 200px;
    height: 32px;
    background: #ffffff;
    border-radius: 6px;
    color: #667085;
}

.buttonfilter button.active,
.buttonfilter button:visited,
.buttonfilter button:focus {
    background: #2C742F;
    color: #FFFFFF;
}

.search {
    display: flex;
    align-items: center;
    padding: 2px 12px;
    gap: 4px;
    width: 320px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #E0E2E7;
    border-radius: 8px;
}

.search input {
    border: none;
    width: 300px;
    height: 32px;
}

.search input:focus {
    outline: none;
}

/* Table styles */
.maintable {
    overflow: hidden;
    border-radius: 8px;
    margin-top: 24px;
}

.maintable table {
    width: 100%;
    border: 1px solid #F0F1F3;
    border-collapse: collapse;
}

.maintable thead {
    font-size: 14px;
    color: #333843;
    background-color: #eff1f5;
    height: 56px;
    text-align: center;
}

.maintable tbody {
    font-weight: 300;
    line-height: 10px;
    color: #667085;
    text-align: center;
    background-color: white;
}

.maintable tbody tr {
    border-bottom: 1px solid #E0E2E7;
}

.maintable tbody td {
    padding: 12px 0;
    font-size: 14px;
}

.maintable th input[type=checkbox],
.maintable td input[type=checkbox] {
    margin-left: 8px;
    padding-left: 10px;
    vertical-align: middle;
}

/* Status styles */
.status {
    padding: 5px;
    border-radius: 4px;
}

.expired {
    color: red;
    background-color: rgb(244, 182, 182);
}

.on-promotion {
    color: green;
    background-color: rgb(209, 235, 209);
}

/* Navigation styles */
.navigation {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation span {
    font-size: 14px;
    color: #667085;
}

.navigation input[type="button"] {
    width: 32px;
    height: 32px;
    background: #B4CCB4;
    border-radius: 8px;
    border: none;
}

.navigation input[type="button"]:active,
.navigation input[type="button"]:visited,
.navigation input[type="button"]:focus {
    color: #ffffff;
    background: #2C742F;
}

/* Popup and Modal styles */
.overlay,
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup,
.modal-dialog {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    z-index: 1000;
}

.popup .close-btn,
.modal .close {
    background-color: #ccc;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.popup .close-btn:hover,
.modal .close:hover {
    background-color: #999;
}

.modal-content {
    padding: 20px;
}

.modal-header,
.modal-footer {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.btn-primary {
    background-color: #2C742F !important;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}
