/* order-success-page.component.css */
.order-success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.success-checkmark img {
    width: 300px;
    height:300px;

}
/* order-success-dialog.component.css */
.order-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
  }
  
  button {
    background:#00b307;
    padding: 10px 25px;
    border: none;
    height: 44px;
    margin-top:10px;
    width:30%;
    outline:none;
    color:#fff;
    letter-spacing:1px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
.buttons button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #00b307;
    color: white;
    border: none;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #008f06;
}
