<div class="navigation-bar">

    <a routerLink="/">
        <img src="../../../../assets/image/homepage.png" alt="Homepage" class="nav-image">
    </a>
    <span class="separator">&gt;</span>
    <a class="nav-link">Customer Service</a>
     <span class="separator">&gt;</span>
    <a routerLink="/chinh-sach-bao-mat" class="nav-link">Privacy Policy</a>

</div>

<head>
    <style>
        h2 { font-weight: bold; }
        p { margin-bottom: 20px; line-height: 1.5;}
        body { padding-left: 80px; margin-right: 100px;}
    </style>
</head>
<body>
    <h1>Privacy Policy</h1>

    <p>This privacy policy is designed to help you understand how the website collects and uses your personal information through the use of the website, including any information that may be provided through
        the website when you register for an account, sign up to receive contact information from us,
        or when you purchase products, services, or request additional service information from us.<br>

        We use your personal information to communicate when necessary regarding
        your use of our website, to answer questions or send documents and
        information you request.<br>
        
        Our website values the security of information and uses the best measures
        to protect information as well as customer payments.<br>
        
        All transaction information will be kept confidential except when required by law enforcement agencies.</p>


</body>
