<div class="navigation-bar">
    <a routerLink="/">
        <img src="../../../../assets/image/homepage.png" alt="Homepage" class="nav-image">
    </a>
    <span class="separator">&gt;</span>
    <a class="nav-link" >Customer Service</a> 
    <span class="separator">&gt;</span>
    <a routerLink="/phuong-thuc-thanh-toan" class="nav-link">Payment Method</a>
</div>
<head>
    <style>
        h2 { font-weight: bold; }
        p { margin-bottom: 20px; line-height: 1.5;}
        body { padding-left: 80px; }
    </style>
</head>
<body justify-content="flex">
    <h1>Payment Method</h1>
    <p>Customers select "Proceed to Payment" <b>then</b> choose a suitable payment method from the following two options:</p>
    <p><b>– Bank Transfer Payment</b>
    <br>Customers are requested to clearly specify the payment details to ensure that we can fulfill their requirements.
    <br><b>+ Bank Account Information</b>
    <br>MB BANK
    <br>Account Number: 115952872022
    <br>Account Name: NGUYEN HOANG PHUONG NGAN</p>
    <p><b>– Cash on Delivery</b><br>
        + For cash on delivery payment method, customers only need to choose cash payment upon receiving the goods at the time of placing the order on the website.
        The delivery staff will deliver the goods and collect the payment directly from the customer.</p>
   
</body>
