<head>
    <style>
        h2 { font-weight: bold; }
        p { margin-bottom: 20px; line-height: 1.5;}
        body { padding-left: 80px; margin-right: 100px;}
    </style>
</head>
<div class="navigation-bar">

    <a routerLink="/">
        <img src="../../../../assets/image/homepage.png" alt="Homepage" class="nav-image">
    </a>
    <span class="separator">&gt;</span>
    <a class="nav-link">Customer Service</a>
    <span class="separator">&gt;</span>
    <a routerLink="/chinh-sach-doi-tra" class="nav-link">Return Policy</a>

</div>
<body>
    <h1>Return Policy</h1>
    <h3>CASES ELIGIBLE FOR PRODUCT EXCHANGE OR RETURN</h3>
    <p>
        <b>You may exchange or return the product in the following cases:</b><br>
        1. The product purchased from Plantique is broken, cracked, or damaged when you receive it from the delivery staff.<br>
        2. Plantique delivers the wrong product to you.<br>
        Product exchange or return must ensure that the product remains intact as when received by the Customer, unopened, and unused. The product must not be damaged due to Customer error.
         It must still have Plantique's intact seal or tag.<br>
        If your order or product falls into the above cases, Plantique may assist you:
    </p>

    <p>
       <b> – Product Exchange:</b>
        Please contact the hotline feedback phone number 0938152400. The Customer Care department will receive your product exchange request and guide you through the detailed exchange process,
        which will be resolved on the same day the information is received, up to a maximum of 02 days.
    </p>

    <p>
        <b>– Product Return:</b>
        Please contact the hotline feedback phone number 0938152400. The amount you paid for the product
        will be refunded via bank transfer. The Customer Care department will receive your product return request and guide you through the detailed return process,
        which will be resolved on the same day the information is received, up to a maximum of 02 days.<br>
        – Reimbursement of shipping costs:<br>
        + 100% free for round trip if due to manufacturer's defect <br>
        + Customers bear the round trip shipping fee if exchanging due to customer's needs <br>

    </p>

</body>
