<div class="container" >
<div class="form-container sign-in" >
    <form [formGroup]="forgetForm">
        <h1 style="color:#00B207">Change Password</h1>
        <div class="instruction">Enter your email and we'll send you instructions on how to reset your password</div>
        <input type="email" placeholder="Email" formControlName="email">
        <span *ngIf = "forgetForm.hasError('required','email') && forgetForm.controls['email'].dirty" 
        class="text-red-500 mt-1 text-sm">*Email is required</span>
        <span *ngIf="forgetForm.get('email')?.hasError('email') && forgetForm.get('email')?.dirty" 
            class="text-red-500 mt-1 text-sm">*Invalid email format</span>
        <button type="button" (click)="submit()" [disabled]="forgetForm.invalid" [class.disabled]="forgetForm.invalid" >Summit</button>
        <button style="background-color:#EFF7EF; color: #00B207" type="button" routerLink="/login" (click)="cancel()">Cancel</button>
    </form>
</div>
</div>

