<div class="container">
    <div class="content">
        <div id="main-section" class="main-section">
            <div name="title" class="title-content">
                <div class="title-container">
                    <h1>Product Management</h1>
                    <p class="nav"> </p>
                </div>
                <div class="deleteadd">
                    <button class="export" id="export" (click)="applyCampaign()">Campaign</button>
                    <div class="modal" *ngIf="showApplyCampaignModal">
                        <h2>Choose Campaign</h2>
                        <ul>
                            <li *ngFor="let campaign of campaigns">
                                <label>
                                    <input type="radio" [(ngModel)]="selectedCampaignId" [value]="campaign._id">
                                    {{ campaign.name }}
                                </label>
                            </li>
                        </ul>
                        <button (click)="applyCampaignsToSelectedProducts()">Apply</button>
                        <button class="cancelCampaign" (click)="closeCampaignModal()">Cancel</button>
                    </div>
                </div>
                <button class="export" id="export" (click)="export()">Export</button>
                <button class="add" id="add" (click)="showPopup = true">Add Product</button>
            </div>
        </div>
        <div class="buttonfilterframe">
            <div class="filterframe">
                <div class="buttonfilter">
                    <button id="All" [ngClass]="getButtonClass('All')" (click)="getProductByMode(0)">All Products</button>
                    <button id="New" [ngClass]="getButtonClass('New')" (click)="getProductByMode(1)">New</button>
                    <button id="Upload" [ngClass]="getButtonClass('Upload')" (click)="getProductByMode(2)">Upload</button>
                    <button id="Delete" [ngClass]="getButtonClass('Delete')" (click)="getProductByMode(3)">Bin</button>
                </div>
            </div>
        </div>
        <div class="maintable">
            <table>
                <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Stock</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Status</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of displayProduct; let i = index">
                        <td><input (click)="toggleSelection(product.product._id)" type="checkbox"></td>
                        <td>{{ product.product.productName }}</td>
                        <td>{{ product.categoryName }}</td>
                        <td>{{ product.product.stock }}</td>
                        <td>{{ product.product.price }}</td>
                        <td>{{ product.product.discount }}</td>
                        <td><span [ngClass]="{ 'status': true, 'deleted': product.status === 'Deleted', 'uploaded': product.status === 'Uploaded' }">{{ product.statusValue }}</span></td>
                        <td><img class="image" src="{{product.product.image}}"></td>
                        <td>
                            <button *ngIf="!isDelete" class="delete" (click)="remove(product.product._id)">Remove</button>
                            <button *ngIf="isDelete" class="delete" (click)="delete(product.product._id)">Delete</button>
                            <button class="edit" (click)="openUpdatePopup(product)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="navigation">
            <span>Showing 1-2 from 4</span>
            <div>
                <input type="button" value="<">
                <input type="button" value="1">
                <input type="button" value="2">
                <input type="button" value=">">
            </div>
        </div>
    </div>
</div>

<app-popup *ngIf="showPopup" [showPopup]="showPopup" [categories]="categories" (close)="showPopup = false" (addProduct)="onAddProduct($event)"></app-popup>
<app-popup *ngIf="showPopupUpdate"
  [showPopup]="showPopupUpdate" 
  [categories]="categories" 
  [product]="updateProduct" 
  (close)="closeUpdatePopup()" 
  (addProduct)="onUpdateProduct($event)">
</app-popup>
