/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: #FFFFFF;
    transition: var(--trans-02);
}

.container {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    display: flex;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main-section {
    background-color: #fbfbfc;
    flex-grow: 1;
    padding: 20px;
}

.title-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main-section h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #333843;
}

.main-section .nav {
    font-weight: 500;
    font-size: 14px;
    color: #2B572E;
    gap: 8px;
    align-items: center;
}

.export,
.add {
    width: 140px;
    height: 40px;
    background: #F0F1F3;
    display: inline-block;
    margin-left: 12px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.005em;
    color: #1A1A1A;
    border: 0px;
    cursor: pointer;
}

.add {
    background: #2C742F;
    color: #FFFFFF;
}

.export:active,
.add:active {
    transform: translateY(2px);
}

.buttonfilterframe {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: 40px;
    margin-top: 50px;
}

.filterframe {
    border: 1px solid #E0E2E7;
    border-radius: 8px;
}

.buttonfilter button {
    padding: 6px 12px;
    gap: 8px;
    width: 126px;
    height: 32px;
    background: #ffffff;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.005em;
    color: #667085;
    border: 0px;
    cursor: pointer;
}

.buttonfilter button:visited,
.buttonfilter button:focus {
    outline: none;
    background: #2C742F;
    color: #FFFFFF;
}

.buttonfilter button.Activated {
    background-color: #2C742F;
    color: #ffffff;
}

.buttonfilter button.Notactivated {
    background-color: #f8f9fa;
    color: #495057;
}

.buttonfilter button:hover {
    cursor: pointer;
}

.buttonfilter button:active {
    transform: translateY(1px);
}

.maintable {
    overflow: hidden;
    border-radius: 8px;
}

.maintable table {
    margin-top: 24px;
    width: 100%;
    border: 1px solid #F0F1F3;
    border-collapse: collapse;
}

.maintable thead {
    font-size: 14px;
    color: #333843;
    background-color: #eff1f5;
    height: 56px;
    text-align: left;
}

.maintable tbody {
    font-weight: 300;
    line-height: 10px;
    color: #667085;
    text-align: left;
    background-color: white;
}

.maintable th input[type=checkbox],
.maintable td input[type=checkbox] {
    margin-left: 8px;
    padding-left: 10px;
    vertical-align: middle;
}

.maintable tbody tr {
    border-bottom: 1px solid #E0E2E7;
}

.maintable tbody td {
    padding: 12px 0;
    font-size: 14px;
}

.status {
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
}

.deleted {
    background-color: #FDF1E8;
    color: #EA4B48;
}

.uploaded {
    background-color: #E7F4EE;
    color: #0D894F;
}

.navigation {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation span {
    font-size: 14px;
    color: #667085;
}

.navigation input[type="button"] {
    width: 32px;
    height: 32px;
    background: #B4CCB4;
    border-radius: 8px;
    border: 0px;
    cursor: pointer;
}

.navigation input[type="button"]:visited,
.navigation input[type="button"]:focus {
    outline: none;
    color: #ffffff;
    background: #2C742F;
}

.delete {
    font-size: large;
    background: red;
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
    margin: 5px;
}

.edit {
    font-size: large;
    background: orange;
    padding: 5px;
    border: 1px solid orange;
    border-radius: 5px;
    margin: 5px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    max-width: 400px;
    width: 90%;
}

.modal h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

label {
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #2C742F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancelCampaign {
    margin-left: 5px;
    padding: 10px 20px;
    background-color: rgb(233, 232, 232);
    color:  #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d2d4d2;
}

.image {
    width: 50px;
    height: 50px;
}
