<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <script src="https://kit.fontawesome.com/1165876da6.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <footer>
        <div class="container">
            <div class="footer-content">
               
                <h3>CONTACT US</h3>
                <img src="assets\image\logo_trang.png" alt="Plantique Logo" style="max-width: 100px; margin-bottom: 10px;">
                <p>Email: plantiqueshop01gmail.com</p>
                <p>Phone: (028)38018283 </p>
                <p>Address: Thu Duc City</p>
            </div>
            <div class="footer-content">
                <h3>Product</h3>
                <ul class="list">
                    <li><a routerLink="product-client/1" routerLinkActive="active">Noodles</a></li>
                    <li><a routerLink="product-client/2"routerLinkActive="active">Dried food</a></li>
                    <li><a routerLink="product-client/3" routerLinkActive="active">Tea and coffee</a></li>
                    <li><a routerLink="product-client/4" routerLinkActive="active">Nuts</a></li>
                </ul>
            </div>
            <div class="footer-content">
                <h3>Customer Service</h3>
                <ul class="list">
                    <li><a routerLink="chinh-sach-van-chuyen">Shipping policy</a></li>
                    <li><a routerLink="chinh-sach-doi-tra">Return policy</a></li>
                    <li><a routerLink="phuong-thuc-thanh-toan">Payment method</a></li>
                    <li><a routerLink="huong-dan-mua-hang">Shopping guide</a></li>
                    <li><a routerLink="chinh-sach-bao-mat">Privacy policy</a></li>
                    
                </ul>
            </div>
            <div class="footer-content">
                <h3>My Account</h3>
                <ul class="list">
                    <li><a routerLink="my-account/order-history">Order History</a></li>
                    <li><a routerLink="cart-page">Cart</a></li>
                    <li><a routerLink="my-account">My Account</a></li>
                </ul>
            </div>
            <div class="footer-content">
                <h3>Follow Plantique at</h3>
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/profile.php?id=61558401800271"><i class="fab fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>    
        <div class="bottom-bar">
            <p>&copy; 2024 Plantique . Copyright by Plantique</p>
        </div>
    </footer>
</body>
</html>
