<div class="admin-header">
  <div class="menu-icon" (click)="toggleSidebar()">
    <i class="fas fa-bars"></i>
  </div>
  <div class="admin-header-content">
    <div class="avatar">
      <img src="./../../../../../../assets/image/logo.png" alt="Avatar">
    </div>
    <div class="user-info">
      <div class="name" style="font-size: 12px;">admin123</div>
      <div class="role" style="font-size: 10px;">Manager</div>
    </div>
    <div class="dropdown">
      <i class="fas fa-chevron-down"></i>
      <ul>
        <li><a href="#">Manage account</a></li>
        <li><a href="#">Log out</a></li>
      </ul>
    </div>
  </div>
</div>
