.order-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.title {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    font-size: 32px;
    color:#00B207;
    justify-content: center;
  }
.search-input {
    padding: 12px 20px;
    margin: 20px;
    width: 50%;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.order-details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 80%;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    background: #fff;
}

.left-column, .right-column {
    flex: 1;
    margin: 10px;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

legend {
    padding: 0 10px;
    width: auto;
}

.product-image {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.address-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

p {
    margin: 5px 0;
}

label {
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

/* Responsive Design Considerations */
@media (max-width: 768px) {
    .search-input {
        width: 80%;
    }

    .order-details {
        flex-direction: column;
        width: 90%;
    }

    .left-column, .right-column {
        flex: none;
        width: 100%;
    }

    .address-details {
        grid-template-columns: 1fr;
    }
}
.navigation-bar {
    margin-top: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    background-image: url('../../../../assets/image/navback.png');
    background-size: 1900px 120px; /* Chỉnh kích thước của background */
    background-repeat: no-repeat;
    position: relative;
    height: 120px; /* Đặt chiều cao cố định */
  }
  
  .nav-link {
    text-decoration: none;
    color: #CCCCCC; /* Chỉnh màu chữ thành trắng */
    margin-right: 5px;
  }
  
  .nav-link:hover {
    color: #00B207;
  }
  
  .nav-image {
    width: 20px;
    height: auto;
    margin-right: 5px;
  }
  
  .separator {
    margin-right: 5px;
    color: #CCCCCC; /* Chỉnh màu chữ của dấu ">" thành trắng */
  }



