<head>
    <style>
        h2 { font-weight: bold; }
        p { margin-bottom: 20px; line-height: 1.5;}
        body { padding-left: 80px; }
    </style>
</head>
<div class="navigation-bar">

    <a routerLink="/">
        <img src="../../../../assets/image/homepage.png" alt="Homepage" class="nav-image">
    </a>
    <span class="separator">&gt;</span>
    <a class="nav-link">Customer Service</a> <span class="separator">&gt;</span>
    <a routerLink="/huong-dan-mua-hang" class="nav-link">Shopping Guide</a>

</div>
<body justify-content="flex">
    <h1>Shopping Guide</h1>
    <h3>1. Plantique's Operating Channels</h3>
    <p>
        Currently, Plantique operates primarily on the following channels:<br>
        Facebook: <a href="https://www.facebook.com/profile.php?id=61558401800271">Plantique</a><br>
        Instagram: <a href="https://www.instagram.com/Plantique">Plantique</a><br>
        Website: <a href="https://plantique.vn/">https://plantique.vn/</a>
    </p>

    <h3>2. How to Shop on Facebook/Instagram</h3>
    <p>
        – Search and select the product you like and wish to purchase.<br>
        – Send a direct message to Plantique's Facebook inbox. Our staff will assist you with product information (price, current product status, etc.).<br>
        – Finally, we will confirm the order details and proceed with packaging and shipping.
    </p>

    <h3>3. How to Shop on Website</h3>
    <p>
        <b>STEP 1: Search and Select Products on the Website using one of the following methods:</b><br>
        – Enter the product name in the search bar.<br>
        – Browse product categories using the main menu.<br>
        Each product on the WEBSITE has complete product information and detailed images.<br>
        Here, you can choose the quantity of the product you want to purchase by clicking the ADD TO CART button.<br>
        <b>STEP 2: Proceed to Place Order and Payment</b><br>
        <b>STEP 3: Order Confirmation</b><br>
        – After completing the online shopping process on the Plantique website, you will receive a confirmation via email.
    </p>

    <h3>4. How to Shop on Shopee, Lazada</h3>
    <p>
        Visit the Shopee or Lazada app, within Plantique's store, to select and purchase your favorite items!
    </p>

    <h3>5. How to Shop on Tiktok Shop</h3>
    <p>
        Visit Plantique Shop's Tiktok channel, go to the shopping cart icon to select your favorite items and proceed to pay for your order directly within the app.
    </p>
</body>
